

body {
    margin-top:50px;
    background-color:gray;
}

.navbar{
    box-shadow:2px 2px 5px #ffde1c;
    background-color:#000000;
}

.text-border {
   
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#main-page-singin { 
    box-shadow: 0 -2px 2px -2px #ffde1c;
}

#main_page_search{
    background:url('../Source/MainPage_search.jpg');
    height:450px;
    background-size:cover;
}

#Tittle {
    font-style: italic;
    color:gold;
}
table{
    text-align:left;
}

.ul {
    margin: 0 auto;
}

#main-page-card-category {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

@media only screen and (max-width: 575px) {
    #main_page_search {
        height: auto;
    }
    .main-search{
        width:100%;
    }
    #main-page-card{
        padding-bottom: 20px;
    }
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}


#main-page-info {
    position: relative;
    min-height: 200px;
    background: url('../Source/home-page-info-2.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    box-shadow: 2px 2px 5px #ffde1c;

}

#no-result {
    background: url('../Source/autos-technology-vw-multi-storey-car-park-63294.jpeg');
    background-size: cover;
    background-attachment:scroll;
    min-height: 500px;
}

.loader {
    height: 700px;
    background-size: cover;
    background: url('https://loading.io/spinners/coolors/lg.palette-rotating-ring-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    opacity: .8;
}
