

body {
    margin-top:50px;
    background-color:gray;
}

.navbar{
    box-shadow:2px 2px 5px #ffde1c;
    background-color:#000000;
}


#main-page-singin { 
    box-shadow: 0 -2px 2px -2px #ffde1c;
}

#main_page_search{
    background:url('../Source/MainPage_search.jpg');
    height:450px;
    background-size:cover;
}

#Tittle {
    font-style: italic;
    color:gold;
}
table{
    text-align:left;
}

.ul {
    margin: 0 auto;
}

.main-page-card-category {

}

#main-page-card-category {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

@media only screen and (max-width: 575px) {
    #main_page_search {
        height: auto;
    }
    .main-search{
        width:100%;
    }
    #main-page-card{
        padding-bottom: 20px;
    }
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}